{
  "extends": [ 
    "@rn-base", 
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended"
  ],
  "plugins": [
    "@graphql-eslint",
    "react-refresh"
  ],
"parser": "@typescript-eslint/parser",
  "rules": {
    "import/extensions": [
      "error",
      "never",
      {
        "json": "always"
      }
    ],
    "global-require": 0,
    "max-classes-per-file": 2,
    "react/no-array-index-key": 0,
    "no-undef": [0, {
      "typeof": true
    }],
    "no-console": [1, { "allow": ["warn"] }],
    "@typescript-eslint/no-unused-vars": 1,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/ban-ts-comment": 0,
    "@typescript-eslint/no-var-requires": 1,
    "react/display-name": 0,
    "@typescript-eslint/ban-types": 0,
    "@typescript-eslint/no-this-alias": 1,
    "@typescript-eslint/no-unnecessary-type-constraint": 1,
    "@typescript-eslint/no-non-null-asserted-optional-chain": 0,
    // "linebreak-style": ["error", "windows"],
    "react/self-closing-comp": 2,
    "import/no-cycle": 0,
    "object-shorthand": 2,
    "prettier/prettier": [
      "error",
      {
        "printWidth": 100,
        "endOfLine": "auto"
      },
      {
        "usePrettierrc": true,
        "fileInfoOptions": {
          "withNodeModules": false
        }
      }
    ],
    "no-extra-semi": 0,
    "semi-style": 0,
    "no-restricted-syntax": ["error", "BinaryExpression[operator='in']"],
    "no-restricted-globals": 0,
    "prefer-template": 2,
    "react/no-unknown-property": 0,
  },
  "globals": {
    "__DEV__": true,
    "Model": true,
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true,
    "Headers": true,
    "Request": true,
    "fetch": true,
    "alert": true,
    "requestAnimationFrame": true,
    "cancelAnimationFrame": true,
    "API": true,
    "location": true,
    "history": true
  }
}